@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
// varables
$primaryColor1:#7da2a9;
$primaryColor2:#f7f7f7;
$btnsucess1:lightgreen;
$btnDanger:red;
$txtcolor:black;
$fullwidth:100%;
$navlinktextsize:17px;
$fontfamily1:IBM+Plex+Sans;
$fontfamily2:Raleway;




// body style
body {
    max-width: 100%;
    margin: 0px;
    background: $primaryColor2;
    color: $txtcolor;
    font: {
        family:Raleway!important;
        display: swap !important;
        weight:500;
    }
}

// navigation bar style
.navbarz {
    background: $primaryColor2;
    display: flex;
    flex-direction:row;
     justify-content:space-between;
    padding: 10px;
    width: $fullwidth;

    font: {
        size: $navlinktextsize;
        family: Raleway;
    }

    align-content: center;
    text-align: center;
    box-shadow: 2px 2px 8px $primaryColor2;

    @media screen and (max-width:800px){
.navbarz{
    padding: 10px;
}
    }

    .navlinks {
        display:flex;
        background: $primaryColor2;
        flex-direction: row;
        justify-content: space-between;
        

        .navlogo {
                    font: {
                        size: 20px;
                        weight: bold;
                        family: fantasy;
                        
                        
                    }
            
                }
                .navlink{
                    font: {
                        weight: 10px;
                        size: 20px;
                    }
            
                   transition: 0.3s ease;
                   background: $primaryColor2;
            
                    border: {
                        bottom: 4px solid $primaryColor2;       
                             top: 4px solid $primaryColor2;
                    }
            
                    margin: 0 20px;
                }
                @media screen and (max-width:600px){
                    .navlink{
                    margin:0 10px;
                    }
                }


     }

    a {
        text-decoration: none;
        color: $txtcolor !important ;
        
    }
      
.dropdown-content {
   display: none;
  position: absolute;
  background-color: $primaryColor2;
  min-width: 160px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    float: none;
    color: black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  a:hover{
    background-color:$primaryColor1;
    color: $primaryColor2;
  }
  .dropdown {
    float: left;
    overflow: hidden;

   
  }
  

}
    .navlink:hover {

        border-top: 4px solid $primaryColor1;
        border-bottom: 4px solid $primaryColor1;
        padding: 5px 0;


    }

    .navsearch {
        margin: 0 15px;
        input[type=search] {
            float: right;
            padding: 6px;
            border: {
                color: $primaryColor1;
                radius:10px;


                
            }
            font-size: 15px;
          }
    }

 .navicons{
    display: flex;
justify-content: space-between;
// // align-items: center;
 background-color: $primaryColor2;

 .navicon{
    

       transition: 0.3s ease;
       background: $primaryColor2;

        border: {
            bottom: 4px solid $primaryColor2;       
                 top: 4px solid $primaryColor2;
        }

        margin: 0px 7px;
        align-items: center;
    



a {
text-decoration: none;
color: $txtcolor !important ;

}

 }
    img{  
           
         width:20px;
        height:20px;    }
 }
 .navicon:hover {

    border-top: 4px solid $primaryColor1;
    border-bottom: 4px solid $primaryColor1;
    padding: 5px 0;


}
.menu{
        margin: 0 10px;
        align-items: center;
        button{
            border: none;
            background-color: transparent;
        }
        
    img{
    width: 20px;
    height: 20px;
}
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 6px;
      vertical-align: top;
      margin-left: -10px; 
  }
  
}
.dropdown:hover .dropdown-content {
    display: block;
  }
// side nav
.sidenav{
    height:100%;
    width:0px;
    position:fixed;
z-index:1;
top:0;
left:0;
background: $primaryColor2;
overflow-x: hidden;
padding-top: 60px;
transition:0.5s;




a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Releway;
    font-size: 20px;
    color:$primaryColor1;
    display: block;
    transition: 0.3s;
  }
   a:hover {
    color: $primaryColor1;
    border-top: 4px solid $primaryColor1;
        border-bottom: 4px solid $primaryColor1;
        padding: 5px 0;
  }
   .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-right: 20px;
  }
}
.banner{
width: 100%;
height: 70vh;
position: absolute;
background-color: $primaryColor1;

@media screen and (max-width:700px){
    .banner{
        height:30vh;
background-color: $primaryColor2;

    }
}

.slider img{
   width: 100%;
height: 70vh;
position: absolute;
top: 0;
overflow: none;
background-size: cover;


} 
@media screen and (max-width:700px){
    .slider img{
        height:50vh;
        border-radius:20px ;
        padding: 0 10px;


    }
}


.overlay{
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); 
    position: absolute;
    
   
    .content{
        width: 60%;
        margin: 160px auto 0;
        text-align: center;
        color: $primaryColor2;
        font-family:$fontfamily1;
        
        h1{
             font-size: 20px;
        }

        h3{
        font-size: 10px;
            width: 80%;
            margin: 10px auto 20px;
            font-weight: 100;
            line-height: 20px;
        }
    }
    @media screen and (max-width:600px){
        .content{
            margin: 100px auto 0;
            

        }}
}
@media screen and (max-width:700px){
    .overlay{
        height:50vh;
        border-radius:10px ;
        // padding: 0 10px;
        


    }
}

}
@media screen and (max-width:700px){
    .banner{
        height:50vh;
        border-radius:10px ;
    
        


    }
}

